<nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl font-bold">Ricky y Morty</a>
        <ul class="flex">
            <li><a href="/" class="text-white px-4 hover:text-gray-300">Episodios</a></li>
            <li><a href="/about" class="text-white px-4 hover:text-gray-300">Buscar</a></li>
            <li><a href="/contact" class="text-white px-4 hover:text-gray-300">API</a></li>
        </ul>
    </div>
</nav>