@if(episodeResults$ | async; as resultObject) {
<div class="mt-4 relative">
    <div class="absolute top-0 right-0 mt-4 mr-4 flex space-x-2">
        <button (click)="previousPage()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l">
            Página anterior
        </button>
        <button (click)="nextPage()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r">
            Siguiente página
        </button>
    </div>
    <h1 class="text-2xl font-bold mb-4 text-center pt-16">Ricky y Morty Episodios</h1>
    <div class="flex justify-center">
        <ul class="font-semibold">
            @for(item of resultObject.results; track item.name) {
            <div class="overflow-hidden p-4">
                <li>
                    <app-episodeitem [episodeInfo]="item" />
                </li>
            </div>
            }
        </ul>
    </div>
</div>
}

@if(errorMessage) {
<app-errormessage [errorMessage]="errorMessage" />
}